*{
    font-family: 'Muli', sans-serif;
}
.list-link{
    list-style: none;
}

.link-style{
    color: white;
    text-decoration: none !important;
}

.link-style:hover{
    color: #f5a92e;
}

.width100{
    width: 100%;
}

.inline{
    display: inline;
}

.aligner{
    text-align: center;
}
.container{
    height: 500px;
}
form {
    margin-top:5%;
    margin-bottom:15%;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color:#f5a92e;
    color:white;
}
.note {
    background-color:black;
    padding-top:5%;
    padding-bottom:5%;
    margin-top:0!important;
}
.test{
    background-color: black;
    height: 400px;
}
.logo{
    width: 30vh;
}

.page-header{
    color:white;
}

.sidepic{
    width:inherit;
    height: 100%;
}
.sideline {
    border-left-color: #f5a92e;
    border-left-style: solid;
    padding-left:2%;
    margin-bottom: 1%;
}
.form {
    width:100%;
}
.fa-facebook {
    color:#f5a92e;
}
.fa-instagram {
    color:#f5a92e;
}
.fa-twitter {
    color:#f5a92e;
}
.noircnoir {
    background-color: black !important;
}
.result {
    text-align: center;
    border:solid;
    border-width: thin;
    border-color: #f5a92e;
    padding:3%;
}